#headerDiv {
  height: 200px;
}

header {
  height: 250px;
  width: 100%;
  background-image: url("../../../assets/images/banner.jpg");
  background-size: cover;
}

#headerDiv {
  background-color: black;
  height: 35px;
  color: #006600;
  text-align: center;
}

.fractal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .fractalCanvas {
    order: 1;
  }
}